<% provide(:title,'Home') %>
<section id="hero">
    <h1>Horror Movie Reviews/Rants</h1>
</section>
<main id="articles-container" class="">
    <div>
        <h1 id='subtitle' class="text-4xl text-white" >Articles</h1>
        <%= link_to 'New article', new_article_path, class: 'btn new' %>
    </div>
    <div class="md:grid md:grid-cols-3 md:gap-4">
        <%= render @articles %>
    </div>
</main>