<% provide(:title,'Home') %>
<section id="hero">
    <h1>Horror Movie Reviews/Rants</h1>
</section>
<main id="articles-container">
    <div>
        <h1 id='subtitle' >Articles</h1>
        <%= link_to 'New article', new_article_path, class: 'btn new' %>
    </div>
    <%= render @articles %>
</main>