@import "shared.scss";

section {
  color: white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(179, 5, 5);
}
main {
  padding: 1rem;
  position: relative;

  div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    h1 {
      font-weight: 400;
    }
  }
}
// individual articles
.article-box {
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
  h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 400px) {
  section {
    h1 {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  .article-box {
    h3 {
      font-size: 1.3rem;
    }
    span {
      display: block;
      margin-bottom: 1rem;
      font-size: 0.9rem;
      color: $white-secondary;
    }
    p {
      display: none;
      color: red;
    }
  }
}
