section {
  color: white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(179, 5, 5);
}
main {
  padding: 1rem;
  position: relative;

  div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
    h1 {
      font-weight: 400;
    }
  }
}
@media (min-width: 400px) {
  section {
    h1 {
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
